@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --black1: #000000;
    --black2: #202020;
    --white1: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  font-size: 16px;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--white1);
    background-color: var(--black1);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 5rem;
}

.container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challenge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.challenge h1 , .challenge > h2{
    padding: 0 2rem;
    text-align: center;
}

.challenge h2 a {
  color: rgb(167, 4, 255);
}

.challenge-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;

}
.challenge-grid{
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(3,1fr);
}
.card{
    max-width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid var(--white1);
}
.card:hover{
    transform: scale(0.988);
    transition: all 0.2s;
}

.card img{
    max-width: 100%;
    height: 190px;
    background-size: contain;
    display:block;
    border-radius: 10px ;
	  transform: scale(1);
	  transition: .5s ease-in-out;
}

.card .details{
    width: 100%;
    padding: 0.8rem;
}
.card .details h2{
    font-size: 1rem;
    margin-bottom: 5px;
    text-align: center;
}

/* footer section */
.footer {
  background-color:rgb(154, 154, 154) ;
  color: #181818;
  width: 100vw;
  margin-top:2.5rem;
  padding: 0.3rem 0 0.3rem;
  text-align: center;
}

.footer h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem;
  text-decoration: underline;
}

.links{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  margin: 0rem;
}

li::marker{
  color: transparent ;
}

.links ul{
  list-style: none;
}

.link-icon {
    width: 2rem;
}

.copyright{
  margin: 0.5rem 0;
  font-weight:500;
}


/* buttons */
  .btn{
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      padding: 0.5rem;
  }
 
.button-outline {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--white1);
    border-radius: 15px;
    box-sizing: border-box;
    color: #c0c0c0;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 2);
    width: 100%;
  }
  
  .button-outline:disabled {
    pointer-events: none;
  }
  
  .button-outline:hover {
    color: var(--black2);
    background-color: var(--white1);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-1px);
  }

.button-solid {
  appearance: none;
  background-color: var(--white1);
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 2);
  width: 100%;
}

.button-solid:disabled {
  pointer-events: none;
}

.button-solid:hover {
  color:var(--white1);
  border: 2px solid var(--white1);
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

/* media Query */
@media (max-width:1190px){
  .challenge-grid{
    grid-template-columns: repeat(2,2fr);
  grid-gap: 3rem;
  }
}
@media (max-width:767px){
  .challenge-wrapper{
      padding: 1.5rem;
  }
  .challenge-grid{
    grid-template-columns: 1fr;
  grid-gap: 2rem;

  }
  body {
      margin: 0rem;
  }
  .button-outline {
      min-height: 30px;
      padding: 2px 4px;
  }
  .button-solid {
      min-height: 30px;
      padding: 2px 4px;
  }
}

